<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>welcome to Adonis</title>
  {{ css('bootstrap') }}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>welcome to adonis</h1>
      </div>
    </div>
  </div>
</body>
</html>
